.grayblock {
  background-color: #CDCDCD;
  border-bottom: solid medium black;
  border-top: solid medium black;
}

#header {
  .grayblock;
}

#footer {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  clear: both;
  font-weight: bold;
  font-size: .5em;
  .grayblock;
}

.image {
  font-size: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.image img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

.trick {
  padding-top: 1em;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.name {
  font-family: courier, monospace;
  font-size: 2em;
  font-weight: bold;
}

.title {
  font-family: courier, monospace;
  font-size: 1.3em;
}

.social_media {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.box{
  display: table-cell;
  text-align: center;
}

.sounds{
  .social_media;
}


